* {
  font-family: "Rubik", sans-serif;
  color: #393c14;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  padding: 0 10px;
}
